main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section{
    display: flex;
    flex-direction: column;
}
section div.resultado{
    margin-top: 30px;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
}
