:root {
  --color-red-900: #e12a2e;
  --color-red-100: #e12a2d10;
  --color-blue-900: #00a0a1;
  --color-blue-300: #00a1a16d;
  --color-yellow-900: #fddf6e;
  --white: #ffffff;
  --color-brow-900: #864212;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: calc(100vh - 140.84px);
  min-height: 100%;
  background: url('./assets/img/cupcake-banner.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 2000px var(--color-blue-300);
}

.title {
  color: var(--white);
  font-size: 5rem;
  font-family: Lobster, sans-serif;
}

.btn-default {
  background: var(--color-blue-900);
  border: 0;
}

.btn-default:hover {
  background: var(--color-red-900);
}

.produto-title {
  text-align: center;
  color: var(--color-brow-900);
}

.produto-subtitle {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: var(--color-blue-900);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button {
  box-shadow: none !important;
}

.contato h2 {
  color: var(--color-brow-900);
}

.footer_bottom {
  background: #f8f9fa;
  width: 100%;
  padding: 1.4rem 0 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }

  .footer_bottom {
    flex-direction: column;
  }
}
