* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.produtos {
  width: 300px;
  margin-left: 50px;
  text-align: center;
}
.lista {
  background: #ccc;
  margin: 5px 0;
  padding: 10px;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
  list-style: none;
  text-transform: uppercase;
}
.produtos button {
  padding: 10px 35px;
  border: none;
  background: blue;
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 15px;
}
.produtos p {
  padding: 10px;
  text-transform: capitalize;
}
