:root {
  --white: #ffffff;
  --text-subtitle: #b2b2b2;
  --text-color: #595959;
  --title-color: #111111;
  --black: #000000;
  --yellow: #ffbb00;
  --bullets-color: #e4a30b;
  --button-text-color: #332200;
}
