:root {
  --color-red-900: #e12a2e;
  --color-red-100: #e12a2d10;
  --color-blue-900: #00a0a1;
  --color-blue-300: #00a1a16d;
  --color-yellow-900: #fddf6e;
  --white: #ffffff;
  --color-brow-900: #864212;
}
