* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f9f9f9;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario label {
  font-size: 1.5rem;
  margin: 5px 0;
}
.formulario {
  width: 50%;
  height: 50%;
  background: #ccc;
  padding: 20px;
  border-radius: 5px;
}
.formulario div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.formulario div input {
  height: 50px;
  padding: 5px;
  font-size: 1.5rem;
}
.formulario button {
  padding: 8px 20px;
  height: 50px;
  background: #247fda;
  border: none;
  color: #ffffff;
  width: 100%;
  margin-top: 5px;
  font-size: 1.5rem;
}
.mensagem {
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* Painel */
header {
  height: 100px;
  background: rgb(2, 27, 97);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
header div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div button {
  padding: 10px 30px;
  background: #ffffff;
  color: #000000;
  border: none;
  font-size: 1.2rem;
}
